<%- include ('layouts/header') %>

  <div class="flex items-center justify-between p-4">
    <p class="text-4xl font-bold">Our Products</p>
    <!-- Button to Open Modal -->
    <button id="openModalBtn" class="bg-gray-950 text-white px-4 py-2 rounded-md hover:bg-slate-900">
      Add Service
    </button>
  </div>

  <!-- Modal -->
  <div id="myModal" class="fixed z-10 inset-0 overflow-y-auto hidden flex justify-center items-center">
    <!-- Modal content -->
    <div class="bg-zinc-950 bg-opacity-50 fixed inset-0"></div>
    <div class="bg-zinc-950 rounded-lg overflow-hidden shadow-xl relative z-20 max-w-md w-full">
      <!-- Modal Header -->
      <div class="p-4 bg-zinc-800 text-white">
        <h2 class="text-xl font-bold">Add New Service</h2>
        <!-- Close Button -->
        <button id="closeModalBtn" class="absolute top-4 right-4 focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="p-4">
        <!-- Add Service Form -->
        <form action="/admin/add-service" method="POST" id="addServiceForm">
          <!-- Input fields for service details -->
          <div class="mb-4">
            <label for="serviceName" class="block text-sm font-medium text-white">Product Name</label>
            <input type="text" name="name" id="serviceName" autocomplete="off" required
              class="mt-1 p-2 border border-gray-300 rounded-md w-full">
          </div>
          <div class="mb-4">
            <label for="serviceDescription" class="block text-sm font-medium text-white">Product Description</label>
            <textarea name="description" id="serviceDescription" rows="3" autocomplete="off" required
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>
          </div>
          <div class="mb-4">
            <label for="servicePrice" class="block text-sm font-medium text-white">Product Price</label>
            <input type="number" name="price" id="servicePrice" autocomplete="off" required
              class="mt-1 p-2 border border-gray-300 rounded-md w-full">
          </div>
          <div class="mb-4">
            <label for="department" class="block text-sm font-medium text-white">Department</label>
            <select name="department" id="department" required
              class="mt-1 p-2 border border-gray-300 rounded-md w-full">
              <% departments.forEach(department=> { %>
                <option value="<%= department._id %>">
                  <%= department.department_name %>
                </option>
                <% }) %>
            </select>
          </div>
          <!-- Submit Button -->
          <div class="text-center">
            <button type="submit" class="bg-white text-black px-4 py-2 rounded-md hover:bg-gray-100">Add
              Service</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="p-4 rounded-lg">
    <table class="w-full text-white bg-zinc-950">
      <thead class="bg-zinc-800">
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Price</th>
          <th class="px-4 py-2">Department</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% departments.forEach(department=> { const departmentServices =
          services.filter(service => service.department._id.toString() ===
          department._id.toString()); if (departmentServices.length > 0) { %>
          <% departmentServices.forEach(service=> { %>
            <tr class="items-center">
              <td class="p-2">
                <form action="/admin/update-service-name/<%= service._id %>" method="POST">
                  <input type="text" name="newServiceName" value="<%= service.name %>"
                    class="w-86 px-2 py-1 text-black border rounded-md transition duration-200 focus:border-blue-500 focus:outline-none">
                  <button type="submit" class="mt-3 bg-white text-black  py-2 px-4 rounded">Update</button>
                </form>
              </td>
              <!-- Update Service Description Form -->
              <td class="p-2">
                <form action="/admin/update-service-desc/<%= service._id %>" method="POST">
                  <textarea name="description" id="newServiceDescription" rows="3" autocomplete="off" required
                    class="text-black mt-1 p-2 border border-gray-300 rounded-md w-full"><%= service.description %></textarea>
                  <button type="submit" class="mt-3 bg-white text-black  py-2 px-4 rounded">Update</button>
                </form>
              </td>

              <!-- Update Service Price Form -->
              <td class="p-2">
                <form action="/admin/update-service-price/<%= service._id %>" method="POST">
                  <input type="text" name="newServicePrice" value="<%= service.price %>"
                    class="w-86 px-2 py-1 text-black border rounded-md transition duration-200 focus:border-blue-500 focus:outline-none">
                  <button type="submit" class="mt-3 bg-white text-black  py-2 px-4 rounded">Update</button>
                </form>
              </td>
              <td class="p-2">
                <%= department.department_name %>
              </td>
              <td class="p-2">
                <form class="deleteServiceForm" action="/admin/delete-service/<%= service._id %>" method="POST">
                  <button class="deleteServiceBtn text-white focus:outline-none bg-red-500 rounded-full px-3 py-1"
                    type="button" data-service-id="<%= service._id %>">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
              <% } }) %>
      </tbody>
    </table>
  </div>


  <%- include ('layouts/footer') %>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("openModalBtn");

      // Get the button that closes the modal
      var closeBtn = document.getElementById("closeModalBtn");

      // When the user clicks the button, open the modal
      btn.addEventListener("click", function () {
        modal.classList.remove("hidden");
      });

      // When the user clicks on the close button, close the modal
      closeBtn.addEventListener("click", function () {
        modal.classList.add("hidden");
      });

      // When the user clicks anywhere outside of the modal content, close it
      window.addEventListener("click", function (event) {
        if (event.target === modal) {
          modal.classList.add("hidden");
        }
      });

      // Add event listener to handle delete button click
      document.addEventListener("click", function (event) {
        if (event.target.classList.contains("deleteServiceBtn")) {
          const serviceId = event.target.dataset.serviceId;
          if (confirm("Are you sure you want to delete this service?")) {
            const form = event.target.closest(".deleteServiceForm");
            form.submit();
          }
        }
      });


    </script>